@import url('//cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css');

.react-datepicker-wrapper {
  display: flex !important;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: unset !important;
  width: auto;
}

.panel-content {
  /* Contain needs to be unset in order to use the production date selector */
  contain: unset !important;
}
